Repository raycast/script-commands, pull requests merged in 2021-02, with the labels that each got.

#191 Improve Toolkit Documentation
  Tools/Toolkit/CONTRIBUTING.md
  Tools/Toolkit/README.md
Labels: documentation, toolkit

#219 Convert script to template
  commands/browsing/peekalink.template.sh
Labels: enhancement

#222 Update get external IP scripts to use ipify.org API instead of ifconfig.co
  commands/developer-utils/ip/get-external-ip-v4.sh
  commands/developer-utils/ip/get-external-ip-v6.sh
Labels: enhancement

#265 Fix extension.json hyperlink
  Tools/Toolkit/CONTRIBUTING.md
Labels: toolkit
